# Strapi API URL (default: http://localhost:1337)
VITE_STRAPI_URL=http://localhost:1337

# Strapi API Token (Create one in Strapi Admin -> Settings -> API Tokens)
# Ensure it has permissions to find/findOne on Projects, Tags, Technologies, etc.
VITE_STRAPI_API_TOKEN=a3e266a....
