:root {
  --font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;

  --color-bg: #0f0f0f;
  --color-text: #f0f0f0;
  --color-primary: #646cff;
  --color-secondary: #535bf2;

  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
  transition: color 0.25s;
}

a:hover {
  color: var(--color-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}